{% extends "layout.html" %} {% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bridal.css') }}">
<div style="align-items: center; display: flex; justify-content: center;">
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='img/services/bridal.jpg') }}" class="image">

            <h2 class="bridal">BRIDAL MACKUP AND <br> PRE BRIDGE</h2>
        </div>

        <p class="para">At Anvi Makeover Spa, we understand that your wedding day is one of the most special moments in your life. Our bridal makeup services are meticulously crafted to enhance your natural beauty and ensure you radiate confidence and elegance on your
            big day. Our team of skilled makeup artists specializes in creating timeless looks that not only complement your personal style but also withstand the emotional and joyful moments that make up a wedding. Pre-Bride Beauty Prep: Prepare for
            your wedding day with our exclusive pre-bridal services. We offer personalized skincare consultations to address any concerns and create a customized regimen to achieve that coveted bridal glow. Our experienced estheticians provide a range
            of treatments, from rejuvenating facials to relaxing massages, ensuring you look and feel your absolute best. The pre-bride phase is designed to pamper you and lay the foundation for flawless makeup application on your special day. Tailored
            Bridal Makeup: Our bridal makeup artists are committed to creating a look that aligns with your vision. Whether you prefer a classic, natural appearance or a bold, glamorous style, we tailor our services to suit your unique preferences. We
            use high-quality, long-lasting products to ensure your makeup withstands the demands of a day filled with love, laughter, and countless photo opportunities. On-Location Services for Convenience: To make your wedding day stress-free, we offer
            on-location bridal makeup services. Our team will travel to your chosen venue, allowing you to relax and enjoy the pre-wedding moments without the hassle of traveling to a salon. Our mobile bridal makeup services ensure that you receive the
            same level of expertise and attention to detail in the comfort of your chosen space. Comprehensive Bridal Packages: Choose from our thoughtfully curated bridal packages that cater to your specific needs. Each package includes pre-bridal skincare,
            trial sessions to perfect your desired look, and on-the-day makeup application. We also offer group packages for bridesmaids and family members, ensuring everyone looks and feels their best on this joyous occasion.
        </p>
    </div>
</div>
</div>
{% endblock %}