{% extends "layout.html" %} {% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bridal.css') }}">
<div style="align-items: center; display: flex; justify-content: center;">
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='img/services/hair-cut.jpg') }}" class="image">

            <h2 class="facial-head">Haircut AND <br> Hair Colour</h2>
        </div>

        <p class="para">
            Welcome to our spa, where indulgence meets transformation. Our expert stylists are dedicated to crafting the perfect haircut tailored to enhance your unique style and personality. From timeless classics to cutting-edge trends, we offer a diverse range
            of haircuts designed to suit every individual. Whether you're looking for a sleek and professional look or a trendy and avant-garde style, our skilled team will bring your vision to life. At our spa, we understand that hair color is a powerful
            form of self-expression. Our professional colorists are masters in the art of enhancing your natural beauty or creating bold and vibrant statements. Using the latest techniques and premium products, we provide a spectrum of colors to cater
            to all preferences. From subtle highlights that add dimension to full transformations that make heads turn, our color services are designed to leave you feeling confident and radiant. Indulge in our signature hair spa experience, where relaxation
            meets rejuvenation. Our cutting-edge salon environment is designed to make you feel pampered and comfortable throughout your visit. We prioritize not only the aesthetics of your hair but also its health. Our spa treatments include nourishing
            hair masks and revitalizing scalp massages, ensuring that your hair not only looks fantastic but feels healthy and vibrant. Discover the perfect harmony of style and wellness at our spa. Our stylists are committed to continuous education,
            staying abreast of the latest trends and techniques in the ever-evolving world of hairstyling. Whether you're seeking a timeless look or a bold, modern statement, our team is dedicated to making you look and feel your absolute best. Visit
            us to experience a transformation that goes beyond the surface. Our spa is not just a place for haircuts and colors; it's a haven for self-care and rejuvenation. Let us be a part of your journey towards confidence and beauty. Book your appointment
            today and step into a world where luxury and style converge to create an unforgettable experience for you and your hair.




        </p>
    </div>
</div>


</div>
{% endblock %}