{% extends "layout.html" %} {% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bridal.css') }}">
<div style="align-items: center; display: flex; justify-content: center;">
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='img/services/kere.jpg') }}" class="image">

            <h2 class="facial-head">Keretin ,Smoothing and <br> Rebonding
            </h2>
        </div>

        <p class="para">
            Welcome to our rejuvenating spa experience, where we bring the latest advancements in hair care to enhance your natural beauty. Our specialized treatments, including keratin treatments, smoothing, and rebounding, are designed to pamper your hair and provide
            lasting results. Keratin treatments are a popular choice for those seeking smoother, more manageable hair. This revolutionary process involves the application of a keratin-rich formula to the hair, which helps to repair damage, reduce frizz,
            and create a silky, glossy finish. Our expert stylists use high-quality products to ensure that your hair receives the nourishment it deserves, leaving you with luscious, revitalized locks. For those desiring sleek and straight hair, our smoothing
            treatments are the perfect solution. Our skilled professionals use advanced techniques to relax the hair cuticle, resulting in a smooth and polished look. This treatment is particularly beneficial for those with unruly or frizzy hair, providing
            a long-lasting solution for a effortlessly chic style. If you're looking for a more permanent transformation, our rebounding services are tailored to meet your needs. This technique is ideal for those who want to achieve straight, glossy locks
            without the need for daily styling. Our experienced stylists apply a specialized solution that permanently alters the structure of the hair, leaving you with beautifully straightened hair that lasts for months. At our spa, we prioritize your
            hair's health and well-being. That's why our keratin, smoothing, and rebounding treatments are enriched with nourishing ingredients to ensure that your hair not only looks fabulous but also remains healthy and vibrant. Indulge in the ultimate
            pampering experience, and let our skilled team bring out the best in your hair, leaving you with a renewed sense of confidence and beauty.



        </p>
    </div>
</div>
{% endblock %}