{% extends "layout.html" %} {% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/bridal.css') }}">
<div style="align-items: center; display: flex; justify-content: center;">
    <div class="container">
        <div class="box">
            <img src="{{ url_for('static', filename='img/services/pedi.jpg') }}" class="image">

            <h2 class="facial-head">Manicure AND <br> Pedicure
            </h2>
        </div>

        <p class="para">
            Indulge in a spectrum of colors that elevate your manicure and pedicure experience at our spa. Our curated selection of nail hues goes beyond the ordinary, offering a palette that reflects both classic elegance and contemporary trends. Whether you prefer
            timeless nudes, vibrant reds, or trendy pastels, we have a shade for every style and occasion. Step into our spa oasis, where the ambience is as inviting as our nail color collection. Picture yourself surrounded by serene tranquility as skilled
            technicians pamper your hands and feet with precision and care. As you choose from our extensive color range, you'll find that each shade is carefully selected for its quality, ensuring a flawless finish that lasts. Explore the depth of self-expression
            through our diverse range of nail colors. From subtle sophistication to bold statements, our collection is designed to cater to all personalities and moods. Whether you're preparing for a special event, a casual outing, or simply treating
            yourself, our manicure and pedicure colors are the perfect finishing touch to enhance your overall spa experience. We pride ourselves on using high-quality, non-toxic nail polishes that prioritize both style and health. Our commitment to your
            well-being extends to the products we use, so you can enjoy beautiful nails without compromising on safety. Revel in the delightful sensation of freshly painted nails, knowing that you've chosen not just a color, but a wellness-driven experience.
            At our spa, the manicure and pedicure colors are more than aesthetics; they're an expression of your individuality. Whether you opt for a classic French tip, a daring neon, or a soft pastel ombré, our skilled nail technicians will bring your
            vision to life. Join us on a journey of self-care and style, where every nail color tells a story of beauty, confidence, and relaxation. Your hands and feet are in good hands – let us paint your moments with a splash of color and a touch of
            serenity.




        </p>
    </div>
</div>

{% endblock %}