{% extends "layout.html" %} {% block main %}

<!-- Blog Area Start -->
<section class="blog-area section_padding_100 mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
            <div class="elfsight-app-c242a821-bcf3-4fee-b925-91590add17b8"></div>

            <!-- Single Blog Area -->
            <div class="col-10">
                <div class="single-blog-area text-center mb-100 wow fadeInUpBig" data-wow-delay="100ms" data-wow-duration="1s">
                    <div class="blog-thumbnail mb-100">
                        <!--<img src="img/bg-img/b3.jpg" alt="">-->
                    </div>
                    <div class="blog-content">
                        <span></span>
                        <h2>Please give us positive feedback.</h2>
                        <!--<a href="#" class="post-date">Dec 01, 2017</a>-->
                        <a href="#" class="post-author"> Aarti Vivek Shelke</a>
                        <p> </p>
                        <a href="https://www.google.com/search?q=anvi+makeover+spa&ei=kWKNZO68HYG5seMP4vysmAM&ved=0ahUKEwiuyaHq5cn_AhWBXGwGHWI-CzMQ4dUDCA8&uact=5&oq=anvi+makeover+spa&gs_lcp=Cgxnd3Mtd2l6LXNlcnAQAzIFCCEQoAEyBQghEKABMgUIIRCgATIFCCEQoAE6CQgAEB4QDRCwAzoGCAAQFhAeOgcIABANEIAESgQIQRgBUHxY2hlgwh1oAXAAeACAAYwCiAGOEpIBBTAuNy41mAEAoAEBwAEByAEB&sclient=gws-wiz-serp#lrd=0x3bd3e92446c78ac1:0x3e87a331ff813252,1,,,,"
                            class="btn studio-btn"><img src="img/core-img/logo-icon.png" alt=""> Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- Blog Area End -->
{% endblock %}